Cherrypicking community contributions

Coming from https://github.com/jpmens/mqttwarn/issues/295, we are thinking about revamping this Python package.

Here, we are looking at some cherries from the community within the [network of forks of xmpppy](https://github.com/normanr/xmpppy/network) worth to integrate into a freshly minted release.

Supporting Python3 within this process will be definitively welcome, see also #24.


> [...] we are looking at some cherries from the community [...]

- Many updates by @CyrilPeponnet within https://github.com/minted/xmpppy
- 6de8f5f4, e283c7b1 and ec7a7b1a by @tonyliu-minted
- 1ef4aad5 by @jhdulaney
- 457b3745, a2a3b19a and 13433e32 by @magnitronus
- 4d4b63f4 and 709b8fab by @ivucica
- a23f7396 by @overplumbum


Dear @clarkspark,

citing you from https://github.com/jpmens/mqttwarn/issues/295#issuecomment-599298731:

> In order to get the XMPP service of [`mqttwarn`](https://github.com/jpmens/mqttwarn) working again, I would try to work on this task.

I will definitively be happy to merge your pull requests to this repository and push respective releases to PyPI in order to get this up to speed. Right now, I am pretty much swamped with other things so I am looking forward that you will take over.

With kind regards,
Andreas.

cc @snakeru, @normanr

Andreas,
    I am happy to help to try to get it to a stable place, both for the end result and for my own improvement w/python.  But it's likely that I would need some (maybe/probably a lot of) hand-holding.  As you mentioned your lack of available surplus time I just wanted to give a heads-up.

Thanks,
    Ryan

Sure. Let's start making `python setup.py develop` work within a Python2 virtualenv. Now, it will still croak.
```
git clone git@github.com:xmpppy/xmpppy.git
cd xmpppy
virtualenv --python=python2 .venv2
source .venv2/bin/activate
python setup.py develop
error: invalid command 'develop'
```

We will use e283c7b1 by @jameswu1991. As we are not able to find this specific commit within any existing repository, we will try to create a patch from it.
```
wget https://github.com/xmpppy/xmpppy/commit/e283c7b1.patch
git am --reject e283c7b1.patch
# Manual resolving is required as this patch didn't apply cleanly.
git push
```

Et voilà: c94c5e02.

---

### References
- https://chem-bla-ics.blogspot.com/2011/01/github-tip-download-commits-as-patches.html
- https://www.devroom.io/2009/10/26/how-to-create-and-apply-a-patch-with-git/
- https://git-scm.com/docs/git-am

- Add SSL/TLS fixes by @ivucica and @osminogin (709b8fa)
```
git remote add ivucica https://github.com/ivucica/xmpppy
git fetch ivucica
git cherry-pick 709b8fab
```

- Add first wave of Python3 support by @lilmike (https://github.com/lilmike/xmpppy/compare/5b417e76%5E...master)
```
git remote add lilmike https://github.com/lilmike/xmpppy
git checkout lilmike/master
git checkout -b py3
git rebase -i 6b79fd7f96
# Squash all commits and remove the SSL fix
git checkout master
git cherry-pick 6be818d8
```

Thanks a bunch!

Dear @clarkspark,

I've just released version 0.6.0 on PyPI and will be happy to hear about the outcome for you.

Cheers,
Andreas.


I've just discovered the [pyxmpp2](https://github.com/Jajcus/pyxmpp2) library, which already supports updated RFC6120, RFC6121 and RFC6122 standards. So, regardless of the fact that `xmpppy` now got some well deserved love to actually make it work again and reasonably workable on Python3, the future might well belong to `pyxmpp2`. It looks well engineered and even sports a test suite [1].

However, I would like to investigate whether some parts of `xmpppy` could continue their life in `pyxmpp2`. For example, I didn't find anything specific to BOSH support within `pyxmpp2`. So, I am humbly asking if one of the experts could take some time to compare both implementations and give appropriate advice.

[1] https://github.com/Jajcus/pyxmpp2/tree/master/pyxmpp2/test

---

cc @snakeru, @normanr 


Andreas,
    Thanks for putting in the time, I'm still looking through your commits and comments.  The xmpppy 0.6.0 in pypi is not stable in python2 though.  It gives the following output:

DEBUG: socket       sent  <message to="example@example.com" id="15">
  <body>Script 'aqua_therm_avg_aq75g-1' has not received a parameter from topic 'dims/sensor/inventory/TMP-2/all' or 'dims/sensor/inventory/TMP-5/all' in 180 seconds, exiting...</body>
  </message>
Invalid debugflag given: always
Invalid debugflag given: nodebuilder
DEBUG: 
DEBUG: Debug created for /srv/mqttwarn/.venv2/local/lib/python2.7/site-packages/xmpp/client.py
DEBUG:  flags defined: always,nodebuilder
DEBUG: socket       start Plugging <xmpp.transports.TCPsocket instance at 0x7fb5cb573960> into <xmpp.client.Client instance at 0x7fb5cb5738c0>
Invalid debugflag given: always
Invalid debugflag given: nodebuilder
DEBUG: 
DEBUG: Debug created for /srv/mqttwarn/.venv2/local/lib/python2.7/site-packages/xmpp/client.py
DEBUG:  flags defined: always,nodebuilder
DEBUG: socket       start Plugging <xmpp.transports.TCPsocket instance at 0x7fb5cbdcc820> into <xmpp.client.Client instance at 0x7fb5cbdccb40>
DEBUG: socket       warn  An error occurred while looking up _xmpp-client._tcp.example.com
DEBUG: socket       error Failed to connect to remote host (u'example.com', 5222): Network is unreachable (101)
Traceback (most recent call last):
  File "/srv/mqttwarn/.venv2/local/lib/python2.7/site-packages/xmpp/transports.py", line 159, in connect
    self._sock.connect(sa)
  File "/usr/lib/python2.7/socket.py", line 228, in meth
    return getattr(self._sock,name)(*args)
error: [Errno 101] Network is unreachable
DEBUG: socket       stop  Plugging <xmpp.transports.TCPsocket instance at 0x7fb5cb573960> out of <xmpp.client.Client instance at 0x7fb5cb5738c0>.

Not sure how many libs you have looked at but I looked as well and put some info about a couple dozen in a spreadsheet.
[xmpp_libs.xlsx](https://github.com/xmpppy/xmpppy/files/4346179/xmpp_libs.xlsx)



I've also just discovered the [python-nbxmpp](https://dev.gajim.org/gajim/python-nbxmpp) library, also available on PyPI. It has been forked from `xmpppy` in 2012 already by [Yann Leboulanger](https://dev.gajim.org/asterix) and is used as the XMPP component of the Gaijm XMPP client. @lovetox seems to be actively maintaining the library these days.

[1] https://pypi.org/project/nbxmpp/

Dear @clarkspark,

may I humbly ask you to either put your observation into https://github.com/jpmens/mqttwarn/issues/295 if you feel it is related to `mqttwarn` or otherwise open another issue on the issue tracker of `xmppp` if you feel the error is coming from `xmpppy` itself?

After that, I will delete our posts and we can discuss further issues elsewhere in order not to hijack this thread.

Thanks already and with kind regards,
Andreas.

Sure, sorry.  I'll open a new issue for xmpppy.

Thanks.

Just for the records: [Apprise](https://github.com/caronc/apprise) is using the [SleekXMPP](https://github.com/fritzy/SleekXMPP) library, which is also written in Python.

@SleekXMPP has been archived but there is a fork Slixmpp.

SleekXMPP has been archived but there is a fork Slixmpp.

Thanks for mentioning that, @Neustradamus! @caronc also referenced it within https://github.com/caronc/apprise/issues/213#issuecomment-600732161. However, he is sticking with SleekXMPP to retain Apprise compatibility with Python 2.

@amotl: About the webiste/SF, have you all rights?

@amotl: Have you progressed?

@amotl and @Neustradamus ; just to let you know i did switch to slixmpp.  It's in a branch that has gone quite stale.  But you can test it to see if it works for you like so:
```bash
# check out git and change to my new branch:
git clone https://github.com/caronc/apprise.git apprise-test-branch
cd apprise-test-branch
git checkout 227-xmpp-slixmpp-support

# assuming you have Slixxmpp installed:
# pip install Slixxmpp

# now you can just use the apprise tool that accesses this
# branch only:
bin/apprise -t "test title" -b "test body" xmpp://your/xmpp/details/here
```

Dear @Neustradamus and @caronc,

thanks for the bump. When looking at [slixmpp](https://github.com/poezio/slixmpp) again, it looks like it is well maintained. Considering that Python 2 is essentially dead, shall we just move on and advise users of xmpppy to also use slixmpp?

With kind regards,
Andreas.


@caronc: Yes I know.

@amotl: What changes have not been added yet?

It will be nice to finish all current changes from people and after to migrate to full Puthon 3.
- https://github.com/xmpppy/xmpppy/pulls

I would suggest to leave this project dead and move on, there is no reason we need so many python xmpp librarys, and i see no benefit to put any work into this project, the other libs are years ahead and maintained.

@lovetox an interesting statement from someone who never showed up on this project ever before. You might need to revisit what the letter "F" in "FOSS" stands for.

It stands for Free, i don't see the context to what i said.

I was answering a question @amotl asked

> Considering that Python 2 is essentially dead, shall we just move on and advise users of xmpppy to also switch to using either slixmpp, aioxmpp or python-nbxmpp?

The xmpp community is already very small, its not very beneficial to spread developer resources even further.



@amotl I suspect you are not having lots of spare cycles, but it would be great if you could merge #70 and tag a release.   I suspect @juanvalino could modfiy and rebase the PR if you would prefer it differently.  I'm happy to prepare one that e.g. uses the system trust anchors and does validation, if that's what you prefer and Juan lacks cycles right now.

Done. Sorry for the delay!