Add support for SCRAM-SHA-1(-PLUS), SCRAM-SHA-256(-PLUS)

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

SCRAM-SHA-1(-PLUS):
- RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM) SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802
- RFC6120: Extensible Messaging and Presence Protocol (XMPP): Core: https://tools.ietf.org/html/rfc6120

SCRAM-SHA-256(-PLUS):
- RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677 - since 2015-11-02
- RFC8600: Using Extensible Messaging and Presence Protocol (XMPP) for Security Information Exchange: https://tools.ietf.org/html/rfc8600 - since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

I add SCRAM-SHA-512(-PLUS): https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1
- https://github.com/smiley22/S22.Xmpp/issues/16

Thanks for your suggestions, @Neustradamus!

Warning: XMPP servers remove the old history unsecured MD5 support...

A bump for this feature.  Was going to use it to sync carddav entries with xmpp but am blocked connecting due to this issue.  Thnx. 

This is a pretty significant blocking issue since the older authentication mechanisms are never used on public facing servers to my knowledge... This lack of support means this library can _only_ be used on insecure internal systems.

Perhaps something like https://github.com/tlocke/scramp would help.

I am using the library to send iot-ish notifications to myself, and it works fine.   I don't follow that anything but SCRAM is "insecure".

I personally don't see "dependency free" as super important.  I do see "doesn't depend on rust,100 crates, python tools in rust, and 30 python libraries" as important.

All that said, I would think it reasonable to add code for SCRAM that if used tries to import a scram library and throws a useful error if not found, without changing the behavior when not using SCRAM.   Perhaps KB1RD is contemplating a PR, and I wonder if that concept fits?


Dear all,

Important to know: Since that "RFC 6120: Extensible Messaging and Presence Protocol (XMPP): Core" exists (March 2011), SCRAM must be used by default:
- https://datatracker.ietf.org/doc/html/rfc6120

And since "RFC 6331: Moving DIGEST-MD5 to Historic" (July 2011), DIGEST-MD5 must not be used, removed, obsolete:
- https://datatracker.ietf.org/doc/html/rfc6331

And yes, @tlocke and other contributors (@fabaff, @half-duplex, @hugovk) have done a good job about scramp (Python implementation of the SCRAM protocol).

About -PLUS variants: Little details, to know easily:
- tls-unique for TLS =< 1.2 (RFC5929)
- tls-server-end-point =< 1.2 + 1.3 (RFC5929)
- tls-exporter for TLS = 1.3 (RFC9266)

We can add here @wingel who has done a PR for Python and who can explain about tls-exporter.

Important information, tls-server-end-point (TLS 1.2 and TLS 1.3) is very used in the World, for example by Microsoft, PostgreSQL (since 11, SCRAM since 10):
- https://learn.microsoft.com/en-us/windows/win32/api/sspi/ns-sspi-sec_channel_bindings
- https://www.postgresql.org/docs/11/sasl-authentication.html

-----------------------

More informations:

IANA: Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Channel Binding RFCs:
- RFC 5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC 5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- RFC 9266: Channel Bindings for TLS 1.3: https://tools.ietf.org/html/rfc9266

Linked RFCs:
- RFC 5801: Using Generic Security Service Application Program Interface (GSS-API) Mechanisms in Simple Authentication and Security Layer (SASL): The GS2 Mechanism Family: https://datatracker.ietf.org/doc/html/rfc5801
- RFC 5802: Salted Challenge Response Authentication Mechanism (SCRAM) SASL and GSS-API Mechanisms: https://datatracker.ietf.org/doc/html/rfc5802
- RFC 5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted Challenge Response Authentication Mechanism (SCRAM) Secrets: https://datatracker.ietf.org/doc/html/rfc5803
- RFC 6120: Extensible Messaging and Presence Protocol (XMPP): Core: https://datatracker.ietf.org/doc/html/rfc6120
- RFC 7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS Simple Authentication and Security Layer (SASL) Mechanisms
- RFC 7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804
- RFC 8600: Using Extensible Messaging and Presence Protocol (XMPP) for Security Information Exchange
- RFC 9051: Internet Message Access Protocol (IMAP) - Version 4rev2: https://tools.ietf.org/html/rfc9051

Current IETF Internet-Drafts:
- Salted Challenge Response Authentication Mechanism (SCRAM) SASL and GSS-API Mechanisms: https://datatracker.ietf.org/doc/html/draft-melnikov-scram-bis
- SCRAM-SHA-512 and SCRAM-SHA-512-PLUS Simple Authentication and Security Layer (SASL) Mechanisms: https://datatracker.ietf.org/doc/html/draft-melnikov-scram-sha-512
- SCRAM-SHA3-512 and SCRAM-SHA3-512-PLUS Simple Authentication and Security Layer (SASL) Mechanisms: https://datatracker.ietf.org/doc/html/draft-melnikov-scram-sha3-512
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://datatracker.ietf.org/doc/html/draft-ietf-kitten-scram-2fa

-----------------------

Hi again. I think @GODIMONGO is making a good start already?

- GH-82

@Neustradamus: Can you possibly validate xmpppy on their feature branch, using the long-awaited SCRAM feature?
